/MSINS_API/obj/Debug/net8.0
/MSINS_API/obj/Debug
/MSINS_API/obj
**/Debug/
/MSINS_API/obj/Debug
/MSINS_API/obj/Debug
**/bin/
/MSINS_API/bin
/MSINS_API/Logs
/MSINS_API/bin/Debug
/.vs/ProjectEvaluation
/.vs/ProjectEvaluation
/.vs/ProjectEvaluation
/MSINS_API/obj
/.vs
/.vs/MSINS_API
/.vs/ProjectEvaluation
/MSINS_API/obj
*.dll
/MSINS_API/obj/Debug
